/* =====================
	Custom Color Styles
	1. Theme Colors
	2. Link Colors
	3. Specials Colors
	4. Background Colors
===================== */

/* ====================
	Primary Theme Colors
==================== */

/* sets the 1st theme color for interactive elements */
.theme-color-1 {
	color: #E57C4B;
}

/* sets the 2nd theme color for interactive elements  */
.theme-color-2 {
	color: #0D2D3F !important; color: #4682B4
}

/* sets the 3rd theme color for interactive theme elements */
.theme-color-3 {
	color: #856b21 !important;
}

/* sets the 4th theme color for interactive theme elements */
.theme-color-4 {
	color: #6F6D6A;
}

/* sets the 5th theme color */
.theme-color-5 {
	color: #F9F7F4;
}

.theme-color-6 {
	color: #FFFFFF;
}

/* ============
	Link Colors
============ */ 

/* sets the primary link color styles */
a.link-color-1 {
	color: #C95E2D !important;
}

/* sets the primary link color hover styles */
a.link-color-1:hover {
	color: #C95E2D !important;
	text-decoration: underline;
}

/* sets the secondary theme link color */
a.link-color-2 {
	color: #0D2D3F !important;
}

a.link-color-2:hover {
	color: #0D2D3F !important;
	text-decoration: underline;
}

/* sets the tertiary theme link color */
a.link-color-3 {
	color: #846A20 !important;
}

/* sets the tertiary theme link color */
a.link-color-3:hover {
	color: #846A20 !important;
}

/* sets the tertiary theme link color */
a.link-color-4 {
	color: #6F6D6A !important;
}

/* sets the tertiary theme link color */
a.link-color-4:hover {
	color: #6F6D6A !important;
	text-decoration: underline;	
}

/* sets the tertiary theme link color */
a.link-color-5 {
	color: #FFFFFF !important;
}

/* sets the tertiary theme link color */
a.link-color-5:hover {
	color: #FFFFFF !important;
	text-decoration: underline;	
}

/* =================
	Specials Colors
================= */

.specials-color-1 {
  color: #C95E2D;
}
.specials-color-2 {
  color: #0D2D3F;
}

.specials-color-3 {
  color: #846A20;
}

.specials-background-color-1 {
  background-color:#C95E2D;
}
.specials-background-color-2 {
  background-color: #0D2D3F;
}

.specials-background-color-3 {
  background-color: #846A20;
}

/* ===================
	Backgrounds Colors
=================== */

/* sets 1st theme background */
.theme-background-1 {
	background-color: #C95E2D;
}

/* sets the 2nd theme background */
.theme-background-2 {
	background-color: #0D2D3F;
}

/* sets 3rd theme background */
.theme-background-3 {
	background-color: #FFFFFF;
}

/* sets 4th theme background */
.theme-background-4 {
	background-color: #6F6D6A;
}

/* sets the 5th theme background color */
.theme-background-5 {
	background-color: #f8f7f3;
}

/* sets the 6th theme background color */
.theme-background-6 {
	background-image: url(../../img/field-bkgd_specials.jpg);
}

/* sets the 7th theme background color */
.theme-background-7 {
	background-color: #F8F7F5;
}
.theme-background-8 {
	background-color: #4682B4;
}