/* ==========================
	Custom Link Styles 
	1.	General Type Setting 
	2. 	Custom Headings
	3. 	Custom Sizes
	4. 	Custom Helper Classes
========================== */

/* sets the default link */
a {
	font-size: 16px;
	font-weight: 400;
}

/* sets the default link hover */
a:hover {
	text-decoration: underline;
}

/* sets overrides for the read more links in text description */
a.read-more-1 {
	font-size: 14px;
	line-height: 1.375;
	color: #578FAF;
	text-decoration: none;
}

/* sets the hover styles for 1st read more link style */
a.read-more-1:hover {
	font-size: 14px; 
	color: #578FAF;
	text-decoration: underline;
}

/* sets the styles for 2nd read more link style */
a.read-more-2 {
	font-size: 14px;
	color: #578FAF;
	text-decoration: none;
}

/* sets the hover styles for 2nd read more link style */
a.read-more-2:hover {
	font-size: 14px; 
	color: #578FAF;
	text-decoration: underline;
}

/* =========================
	CUSTOM PHONE LINK STYLES 
========================= */

/* sets the small phone number link class */
.phone-sm {
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 900;
}

/* sets the medium phone number link class */
.phone-md {
	font-family: "Lato", "Helvetica", "Arial", sans-serif;	
	font-size: 20px;
	font-weight: 900;
}

/* sets the large phone number link class */
.phone-lg {
	font-family: "Lato", "Helvetica", "Arial", sans-serif;	
	font-size: 32px;
	font-weight: 900;
}

/* sets the extral large phone number link class */
.phone-xl {
	font-family: "Lato", "Helvetica", "Arial", sans-serif;	
	font-size: 36px;
	font-weight: 900;
}

/* =====================
	Custom Button Styles 
===================== */

/* sets the primary theme button color */
a.theme-btn-1 {
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-size: 20px;
	font-weight: 300;
	padding: 10px 40px 10px 40px;
	background-color: #E57C4B !important;	
	border-radius: 15px;	
	border: solid 2px #FFFFFF;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;	
}

a.theme-btn-1:hover {
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-size: 20px;
	font-weight: 300;
	padding: 10px 40px 10px 40px;
	background-color: #E57C4B !important;	
	border-radius: 15px;	
	border: solid 2px #FFFFFF;
	color: #FFFFFF;
	text-decoration: none !important;
	text-transform: uppercase;	
}

a.theme-btn-1:active {
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-size: 20px;
	font-weight: 300;
	padding: 10px 40px 10px 40px;
	background-color: #E57C4B !important;	
	border-radius: 15px;	
	border: solid 2px #FFFFFF;
	color: #FFFFFF;
	text-decoration: none !important;
	text-transform: uppercase;	
}

button.theme-btn-1 {
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-size: 20px;
	font-weight: 300;
	padding: 10px 40px 10px 40px;
	background-color: #E57C4B !important;	
	border-radius: 15px;	
	border: solid 2px #FFFFFF;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;	
}

button.theme-btn-1:hover {
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-size: 20px;
	font-weight: 300;
	padding: 10px 40px 10px 40px;
	background-color: #E57C4B !important;	
	border-radius: 15px;	
	border: solid 2px #FFFFFF;
	color: #FFFFFF;
	text-decoration: none !important;
	text-transform: uppercase;	
}

/* ====================
	LINKS MEDIA QUERIES 
==================== */

/* */
@media (max-width:1200px) {
	
}


/* */
@media (max-width:768px) {
	
}

/* Phone media query */
@media (max-width:480px) {
	button.theme-btn-1 {
		font-family: "Lato", "Helvetica", "Arial", sans-serif;
		font-weight: 300;
		text-transform: uppercase;
		padding: 10px 40px 10px 40px;
		background-color: #C95E2D !important;	
		border-radius: 15px;	
		border: solid 2px #fcfcfc;
		color: #fcfcfc;
	}

	button.theme-btn-1:hover {
		font-family: "Lato", "Helvetica", "Arial", sans-serif;
		font-weight: 300;
		text-transform: uppercase;
		padding: 10px 40px 10px 40px;
		background-color: #C95E2D !important;	
		border-radius: 15px;	
		border: solid 2px #fcfcfc;
		color: #fcfcfc;
	}
}