/* =====================================
	Controls the Theme's Custom Sections 
	1.	Navigation 
	2.	Banner Carousel
	3.	New Patient Hotline Existing 	
	4.	Meet The Team
	5. 	Team Carousel
	6. 	New Patient Specials
	7. 	New Patient Hotline
	8. 	Patient Reviews
	9.	Membership Club
	10.	Our Services
	11.	Discover Forensic Dentistry
	12.	Location
	13.	Associations
	14. Footer
==================================== */

/* ===================
	Navigation Section 
=================== */

#mobile-navigation {
	height: 100px;
}

/* ========================
	Swiper Carousel Section 
======================== */

#swiper-carousel {}

#slide-1-headline {

}

#slide-1-details {

}

#slide-1-cta {

}

/* =====================================
	New Patient Hotline Existing Section 
===================================== */

#new-patient-hotline-existing {
	margin: 0 auto;
	padding: 0px 0px 0px 0px; 
}

/* controls the new patient hotline mobile section */
#new-patient-hotline-existing-mobile {
	margin: 0 auto;
	padding: 20px 0px 20px 0px !important; 
}

/* controls the new patient hotline desktop section */
#new-patient-hotline-existing-desktop {
	padding: 20px 0px 20px 0px !important;
}

/* controls the new patient hotline desktop theme button */
#new-patient-hotline-existing-desktop .theme-btn-1 {
	margin-top: 10px;
}

/* ======================
	Meet The Team Section  
====================== */

/* controls the meet the team section background */
#meet-the-team {
	padding: 0px 0px 0px 0px;	
}

/* controls the meet the team section background */
#meet-the-team-heading {
	padding-top: 40px;	
	background-image: url("../../img/bedge_grunge_light.jpg");
}

#franklin-wright {
	background-image: url("../../img/bedge_grunge_light.jpg");
}

#bradley-dorsch {
	padding: 50px 0px 50px 0px;
}

/* ===========================
	NEW PATIENT OFFERS SECTION 
=========================== */

/* controls the new patient offers section */
#new-patient-offers {
	background-image: url("../../img/field-bkgd_specials.jpg");
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
}

#new-patient-offers h2 {
	margin-bottom: 0px;
}

#new-patient-offers h3 {
	margin-bottom: 20px;
}

/* ============================
	New Patient Hotline Section 
============================ */

/* controls the new patient hotline section */
#new-patient-hotline {
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
}

/* controls the new patient hotline mobile section */
#new-patient-hotline-mobile {
	padding: 60px 0px 40px 0px;
}

/* controls the new patient hotline desktop section */
#new-patient-hotline-desktop {
	padding: 40px 0px 40px 0px;
	box-shadow: 15px 15px 15px 15px #333333;
}

/* controls the new patient hotline desktop theme button */
#new-patient-hotline-desktop .theme-btn-1 {
	margin-top: 10px;
}

/* ========================
	Patient Reviews Section 
======================== */

/* controls the patient reviews section */
#reviews {
	background-image: url("../../img/cincinatti-reviews-bkgd.jpg");
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;	
}

/* controls the reviews h2 heading */
#reviews .h2 {
	text-shadow: 2px 2px #333333;
}

/* controls the reviews p */
#reviews p {
	text-shadow: 2px 2px #333333;
}

#bf-dv {
	margin-top: 10px;
}

/* ========================
	Membership Club Section 
======================== */
	
/* controls the no insurance mobile section */
#no-insurance {
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
}

/* controls the mobile membership club section */
#membership-club-mobile {
	background-image: url("../../membership-row-wright.jpg");
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	width: auto;
	max-height: 600px;
	margin: 0px;
	padding: 40px 0px 80px 0px;
}


/* controls the no insurance mobile section */
#no-insurance-mobile {
	margin: 0px;
	padding: 40px 0px 0px 0px;
	background-color: #f9f7f3;
}

#no-insurance-headline h2 {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#no-insurance-membership {
	margin-top: 40px;
	margin-bottom: 40px;
}

#no-insurance-cta {
	margin-top: 40px;
	margin-bottom: 40px;
}

/* controls the no insurance mobile banner image */
#no-insurance-mobile-banner {
	margin: 0px;
	padding: 0px 0px 0px 0px !important;
}

/* controls the no insurance mobile image */
#no-insurance-mobile-img {
	margin: 0px;
	padding: 0px 0px 0px 0px;
}

/* controls the no insurance section */
#no-insurance-desktop {
	padding: 100px 0px 100px 0px;
	background-image: url("../../img/membership-row-wright.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: solid 2px #cccccc;
}

/* controls the services section */
#services {
	background-image: url("../../img/bedge_grunge_light.jpg");
	background-repeat: repeat;
	padding: 50px 0px 50px 0px;
}

/* controls the forensic dentistry section */
#forensic-dentistry {
	margin: 0px;	
	padding: 60px 0px 70px 0px;
	background-color: #6F6D6A;
	color: #F9F7F4;
}

#forensic-dentistry-img {
	max-width: 350px;
}

/* control the mobile desktop location styles */
#mobile-location {
	background-color: #FFFFFF !important;
	margin: 0px;
	padding: 0px 0px 0px 0px;
}

#mobile-location img {
	max-height: 80px;
	margin-top: 10px;
}

#mobile-location-map {
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
}

/* ==============================
	New Patient Specials Section 
============================== */

#new-patient-specials {
	margin: 0 auto;
	padding: ;
}

/* ==============================
	New Patient Hotline Section 
============================== */

#new-patient-hotline-desktop {
	padding: 30px 0px 30px 0px;
}

#new-patient-hotline-desktop .theme-btn-1 {
	margin-top: 10px;
}



/* ========================
	Patient Reviews Section 
======================== */


/* ========================
	Membership Club Section 
======================== */



/* =====================
	Our Services Section 
===================== */


/* ====================================
	Discover Forensic Dentistry Section 
==================================== */

#discover-forensic-dentistry {
	margin: 0 auto;
	padding: 50px 0px 50px 0px;
}

/* =================
	Location Section 
================= */
#location {
	margin: 0 auto;
	padding: 0;
}

/* control the mobile desktop location styles */
#mobile-location {
	background-color: #FFFFFF !important;
	margin: 0px;
	padding: 0px 0px 0px 0px;
}

#mobile-location-map {
	margin: 0 auto;
	padding: ;	
}

#mobile-location #location-hotline {
	padding-top: 10px;
	padding-bottom: 10px;
}

#mobile-location #location-existing {
	padding-top: 10px;
	padding-bottom: 10px;
}

/* controls the desktop location section styles */
#desktop-location {
	background-image: url("../../img/forest-hills-family-dentistry.png");
	background-position: center center;
	background-size: cover;
	width: auto;
	margin: 0px;
	padding: 60px 0px 50px 0px;
}

/* controls the desktop location image */
#desktop-location img {
	width: 280px;
}

/* =====================
	Associations Section 
===================== */

/* controls the association section */
#associations {
	margin: 0 auto;
	padding: 10px 0px 0px 0px !important;
}

/* controls the associations images */
#associations img {
	max-width: 200px;
	margin: 0 auto;
	padding: 0px;
}

/* ===============
	Footer Section 
=============== */

/* controls the mobile footer */
#footer {
	margin: 0 auto;
	padding: 0px 0px 0px 0px !important;
}

#mobile-footer {
	padding: 20px 0px 10px 0px;
}

#desktop-footer {
	padding: 20px 0px 10px 0px;
}

body:not(.device-touch) .social-icon i {
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.social-icon i {
    display: block;
    position: relative;
}
.si-colored i {
    color: #FFF;
}
.icon-facebook, .icon-google, .icon-twitter, .icon-youtube {
    color: white;
    font-size: 25px;
    width: 37px;
    text-align: center;
}
[class^="icon-"], [class*=" icon-"], [class^="icon-line-"], [class*=" icon-line-"], [class^="icon-line2-"], [class*=" icon-line2-"], .side-header #primary-menu ul > li.sub-menu > a:after {
    display: inline-block;
    font-family: 'font-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.social-icon {
    margin: 0 5px 5px 0;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 38px !important;
    color: #555;
    text-shadow: none;
    border: 1px solid #AAA;
    border-radius: 3px;
    overflow: hidden;
}
.i-rounded, .i-plain, .i-circled, .i-bordered, .social-icon {
    display: block;
    float: left;
    margin: 4px 11px 7px 0;
    text-align: center !important;
    font-size: 28px;
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    font-style: normal;
}
a {
    text-decoration: none;
    color: inherit;
}
a {
    color: #337ab7;
    text-decoration: none;
}

.icon-facebook:before {
    content: "\e86f";
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
Pseudo ::after element
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
Pseudo ::selection element
::selection {
    text-shadow: none;
}

/* =======================
	SECTIONS MEDIA QUERIES 
======================= */

/* */
@media (max-width:1200px) {
	
}


/* */
@media (max-width:768px) {
	
}

/*  */
@media (max-width:480px) {
	#no-insurance-headline {
		margin-bottom: 20px;
	}
	#no-insurance-details {
		margin-bottom: 20px;
	}
	#no-insurance-benefits {
		margin-bottom: 20px;
	}
	#no-insurance-cta {
		margin-bottom: 0px;
	}
}