/* ==========================
	Custom Type Styles 
	1.	General Type Setting 
	2. 	Custom Headings
	3. 	Custom Sizes
	4. 	Custom Helper Classes
	5. 	Type Media Queries
========================== */

/* General Type Settings */

/* headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px;
	padding: 0px;
}

/*  */
p {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: #6F6D6A;
	padding: 0px;
	margin: 0px 0px 15px 0px;	
}

span {
	font-size: 16px;	
	font-weight: 400;
	line-height: 1.0;
	color: #6F6D6A;
}

address {
	font-size: 16px;	
	color: #6F6D6A;
}

/* creates a custom h1 header class for custom sizing */
.h1 {
	font-size: 72px;	
	margin: 0px 0px 0px 0px;		
}

/* creates a custom h2 header class for custom sizing */
.h2 {
	font-size: 48px;
	font-weight: ;
	margin: 0px 0px 0px 0px;		
}

/* creates a custom h3 header class for custom sizing */
.h3 {
	font-size: 32px;
	font-weight: ;
	margin: 0px 0px 0px 0px;		
}

/* creates a custom h4 header class for custom sizing */
.h4 {
	font-size: 24px;	
	font-weight:;
	margin: 0px 0px 0px 0px;		
}

/* creates a custom h5 header class for custom sizing */
.h5 {
	font-size: 20px;
	margin: 0px 0px 0px 0px;	
}

/* creates a custom h6 header class for custom sizing */
.h6 {
	font-size: 18px;
	margin: 0px 0px 0px 0px;	
}

/* =========================
	TEXT CUSTOM SIZE CLASSES
========================= */

/* creates a huge  text class */
.text-hu {
	font-size: ;
	/* font-size: 4.5rem !important; */
}

/* creates an extra extra large text class */
.text-xxl {
	font-size: ;
}

/* creates an extra large text class */
.text-xl {
	font-size: ;
}

/* creates a large text class */
.text-lg {
	font-size: ;
}

/* creates a medium text class */
.text-md {
	font-size:;
}

/* creates a regular text class */
.text-reg {
	font-size: ;
}

/* creates a small text class */
.text-sm {
	font-size: 14px;
}


/* creates an extra small text class */
.text-xs {
	font-size: 12px;	
}

/* =============================
	TEXT CUSTOM TRANFORM CLASSES
============================= */

/* sets the bold text class */
.text-bold {
	font-weight: bold;
}

/* sets the capitalize text class */
.text-capitalize {
	text-transform: capitalize;
}

/* sets the uppercase text class */
.text-uppercase {
	text-transform: uppercase;
}

/* sets the underline text class */
.text-underline {
	text-decoration: underline;
}

/* sets the inverse text class */
.text-inverse {
	color: #FFFFFF !important;
}

/* sets the description text class */
.text-description {
	font-family: "Merriweather", "Georgia", "Times New Roman", serif;
	font-size: 12px !important;	
	font-weight: 300;
	line-height: 1.375;
	margin: 30px 0px 15px 0px;
	padding: 0px;	
}

/* ===================
	TYPE MEDIA QUERIES 
=================== */

/* Landscape smartphones type media query  */
@media (max-width:1200px) {
	html {
		font-size: 16px;
	}
	
	body {
		font-size: 1rem;
	}
}

/* Landscape smartphones type media query  */
@media (max-width:991px) {
	html {
		font-size: 14px;
	}
	
	body {
		font-size: 1rem;
	}
}

/* Landscape smartphones type media query  */
@media (max-width:769px) {
	html {
		font-size: 14px;
	}
	
	body {
		font-size: 1rem;
	}
}

/* Smartphones type media query */
@media (max-width:481px) {
	html {
		font-size: 14px !important;
	}
	
	body {
		font-size: 1rem !important;
	}
}