/* ====================================
	General HTML/Body Default Settings 
==================================== */

/* overrides the default html element*/
html {
	margin: 0px;
	padding: 0px;
	font-size: 16px;
}

/* overrides the default body */
body {
	margin-top: 80px;
	padding: 0px;	
	font-size: 1rem;
}

/* overrides the default nav element */
nav {
	margin: 0px !important;
}

/* overrides the default header element */
header {
	margin: 0px !important;
}

/* overrides default section element */
section {
	margin: 0px;
	padding: 40px 0px 40px 0px;
}

/* overrides the footer element */
footer {
	padding: 40px 0px 40px 0px;
}

ul {
	list-style: none;
}

/* ===========================
	Custom Typography Settings
=========================== */

/* headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px;
	padding: 0px;
}

/* creates a custom h1 header class for custom sizing */
.h1 {
	margin: 0px 0px 0px 0px;
}

/* creates a custom h2 header class for custom sizing */
.h2 {
	margin: 0px 0px 30px 0px;	
}

/* creates a custom h3 header class for custom sizing */
.h3 {
	margin: 0px 0px 10px 0px;	
}

/* creates a custom h4 header class for custom sizing */
.h4 {
	margin: 0px 0px 0px 0px;	
}

/* creates a custom h5 header class for custom sizing */
.h5 {
	margin: 0px 0px 0px 0px;	
}

/* creates a custom h6 header class for custom sizing */
.h6 {
	margin: 0px 0px 0px 0px;	
}

/*  */
p {
	margin: 0px 0px 15px 0px;
	font-weight: normal;
	line-height: normal;
	padding: 0px;
}

/* sets the default text class */
.text {
	font-size: 1rem;
	font-weight: normal;
	line-height: normal;
}

/* creates an extra small text class */
.text-xs {
	font-size: 0.75rem;
}

/* creates a small text class */
.text-sm {
	font-size: 0.875rem;
}

/* creates a regular text class */
.text-reg {
	font-size: 1rem;
}

/* creates a medium text class */
.text-md {
	font-size: 1.5rem;
}

/* creates a large text class */
.text-lg {
	font-size: 2.25rem;
}

/* creates an extra large text class */
.text-xl {
	font-size: 3rem;
}

/* creates an extra extra large text class */
.text-xxl {
	font-size: 4rem;
}

/* creates a huge  text class */
.text-hu {
	font-size: 4.5rem;
}

/* sets the default serif regular text class */
.serif-reg {
	font-family: "Merriweather", "Georgia", "Times New Roman", serif;
	font-weight: 400;
	line-height: normal;
}

/* sets the default serif bold text class */
.serif-bold {
	font-family: "Merriweather", "Georgia", "Times New Roman", serif;
	font-weight: 700;
	line-height: normal;	
}

/* sets the default sans-serif regular text class */
.sans-serif-reg {
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
	line-height: normal;	
}

/* sets the default sans-serif bold text class */
.sans-serif-bold {
	font-family: "Lato Black", "Lato", "Helvetica", "Arial", sans-serif;
	font-weight: 700;
	line-height: normal;	
}

/* sets the default sans-serif black text class */
.sans-serif-black {
	font-family: "Lato Black", "Lato", "Helvetica", "Arial", sans-serif;
	font-weight: 900;
	line-height: normal;	
}

/* creates an extra-small responsive text class */
	.text-xs {
		font-size: 0.75rem;
	}

/* sets the bold text class */
.text-bold {
	font-weight: bold;
}

/* sets the capitalize text class */
.text-capitalize {
	text-transform: capitalize;
}

/* sets the uppercase text class */
.text-uppercase {
	text-transform: uppercase;
}

/* sets the underline text class */
.text-underline {
	text-decoration: underline;
}

/* sets the inverse text class */
.text-inverse {
	color: #fcfcfc !important;
}

/* sets the description text class */
.text-description {
	font-family: "Merriweather", "Georgia", serif;
	font-weight: normal;
	font-size: 14px !important;	
	margin: 30px 0px 15px 0px;
	padding: 0px;	
}

/* sets the default link */
a {
	font-size: 18px !important;
	font-weight: normal;
}

/* sets the default link hover */
a:hover {
	text-decoration: underline !important;
}

/* sets overrides for the read more links in text description */
a.read-more-1 {
	font-size: 1rem;
	color: #e67c4c;
	text-decoration: none;
}

/* sets the hover styles for 1st read more link style */
a.read-more-1:hover {
	font-size: 1rem; 
	color: #e67c4c;
	text-decoration: underline;
}

/* sets the styles for 2nd read more link style */
a.read-more-2 {
	font-size: 1rem;
	color: #578fb0;
	text-decoration: none;
}

/* sets the hover styles for 2nd read more link style */
a.read-more-2:hover {
	font-size: 1rem; 
	color: #578fb0;	
	text-decoration: underline;
}

/* ====================
	Custom Theme Colors
==================== */

/* sets the primary theme color for interactive elements */
.theme-color-1 {
	color: #E57C4B;
}

/* sets the secondary theme color for interactive elements  */
.theme-color-2 {
	color: #0D2D3F !important;
}

/* sets the tertiary theme color for interactive theme elements */
.theme-color-3 {
	color: #856b21 !important;
}

/*  */
.theme-color-4 {
	color: #6F6D6A;
}

/* sets the  */
.theme-color-5 {
	color: #FCFCFC;
}

/* controls the facebook icon */
.facebook-icon {
	background-color: #ffffff;
	overflow: hidden;
	color: blue;
}

/* ====================
	Specials CSS Styles
==================== */

/* controls the 1st specials background color */
.specials-background-color-1 {
	background-color: #C95E2D;
}

/* controls the 1st specials text color */
.specials-color-1 {
	color: #C95E2D;
}

/* controls the 2nd specials section-2 background color*/
.specials-background-color-2 {
	background-color: #846A20;
}

/* controls the 2nd specials text color */
.specials-color-2 {
	color: #846A20;
}

/* controls the specials section-3 background color */
.specials-background-color-3 {
	background-color: #0D2D3F;
}

/* controls the 3rd specials text color */
.specials-color-3 {
	color: #0D2D3F;
}

/* ===================
	Custom Link Styles 
=================== */ 

/* sets the primary link color styles */
a.link-color-1 {
	color: #e67c4c !important;
}

/* sets the primary link color hover styles */
a.link-color-1:hover {
	color: #e67c4c;
	text-decoration: underline;
}

/* sets the secondary theme link color */
a.link-color-2 {
	color: #5592b1 !important;
}

a.link-color-2:hover {
	color: #5592b1;
	text-decoration: underline;
}

/* sets the tertiary theme link color */
a.link-color-3 {
	color: #856b21 !important;
}

/* sets the tertiary theme link color */
a.link-color-3:hover {
	color: #856b21;
}

/* sets the tertiary theme link color */
a.link-color-4 {
	color: #666666 !important;
}

/* sets the tertiary theme link color */
a.link-color-4:hover {
	color: #666666;
	text-decoration: underline;	
}

/* sets the tertiary theme link color */
a.link-color-5 {
	color: #FCFCFC !important;
}

/* sets the tertiary theme link color */
a.link-color-5:hover {
	color: #FCFCFC;
	text-decoration: underline;	
}

/* sets the small phone number link class */
.phone-sm {
	font-size: 0.875rem !important;
	font-weight: 700;
}

/* sets the medium phone number link class */
.phone-md {
	font-size: 1.5rem !important;
	font-weight: 700;
}

/* sets the large phone number link class */
.phone-lg {
	font-size: 2.5rem !important;
	font-weight: 700;
}


/* =====================
	Custom Button Styles 
===================== */

/* sets the primary theme button color */
a.theme-btn-1 {
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	padding: 15px 40px 15px 40px;
	background-color: #C95E2D !important;	
	border-radius: 15px;	
	border: solid 2px #fcfcfc;
	color: #fcfcfc;
}

a.theme-btn-1:hover {
	padding: 15px 40px 15px 40px;
	border: solid 2px #fcfcfc;
	background-color: #C95E2D !important;	
	border-radius: 15px;	
	color: #fcfcfc !important;
	text-decoration: underline;
}

a.theme-btn-1:active {
	padding: 15px 40px 15px 40px;
	border: solid 2px #fcfcfc;
	background-color: #C95E2D !important;	
	border-radius: 15px;	
	color: #fcfcfc !important;
	text-decoration: underline;
}

/* sets the secondary theme link color */
.theme-btn-2 {
	background-color: #578fb0;
}

.theme-btn-2:hover {
	background-color: #578fb0;
}

button.theme-btn-1 {
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	padding: 15px 40px 15px 40px;
	background-color: #C95E2D !important;	
	border-radius: 15px;	
	border: solid 2px #fcfcfc;
	color: #fcfcfc;
}

button.theme-btn-1:hover {
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	padding: 15px 40px 15px 40px;
	background-color: #C95E2D !important;	
	border-radius: 15px;	
	border: solid 2px #fcfcfc;
	color: #fcfcfc;
}

/* ==========================
	Custom Backgrounds Styles
========================== */

/* sets the primary theme background */
.theme-background-1 {
	background-color: #C95E2D;
}

/* sets the secondary theme background */
.theme-background-2 {
	background-color: #0D2D3F;
}

/* sets the tertiary theme background */
.theme-background-3 {
	background-color: #578fb0;
}

/* set the pattern theme background */
.theme-background-4 {
	background-image: url(../../img/field-bkgd_specials.jpg);
}

.theme-background-5 {
	background-color: #f8f7f3;
}

/* ================
	Custom Sections 
================ */

/* controls the new patient hotline mobile section */
#new-patient-hotline-existing-mobile {
	background-color: lightblue;
	padding: 20px 0px 20px 0px; 
}

/* controls the new patient hotline desktop section */
#new-patient-hotline-existing-desktop {
	padding: 60px 0px 50px 0px;
}

/* controls the franklin wright section */
#team {
	background-image: url("../../img/bedge_grunge_light.jpg");
}

/* controls the new patient offers section */
#new-patient-offers {
	background-image: url("../../img/field-bkgd_specials.jpg");
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
}

/* controls the new patient hotline mobile section */
#new-patient-hotline-mobile {
	padding: 60px 0px 40px 0px;
}

/* controls the new patient hotline desktop section */
#new-patient-hotline-desktop {
	padding: 40px 0px 40px 0px;
	box-shadow: 15px 15px 15px 15px #333333;
}

/* controls the patient reviews section */
#reviews {
	background-image: url("../../img/cincinatti-reviews-bkgd.jpg");
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;	
}

/* controls the reviews h2 heading */
#reviews .h2 {
	text-shadow: 2px 2px #333333;
}

/* controls the reviews p */
#reviews p {
	text-shadow: 2px 2px #333333;
}
	
/* controls the mobile membership club section */
#membership-club-mobile {
	background-image: url("../../membership-row-wright.jpg");
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	width: auto;
	max-height: 600px;
	margin: 0px;
	padding: 40px 0px 80px 0px;
}


/* controls the no insurance mobile section */
#no-insurance-mobile {
	margin: 0px;
	padding: 40px 0px 0px 0px;
}

/* controls the no insurance mobile banner image */
#no-insurance-mobile-banner {
	margin: 0px;
	padding: 0px 0px 0px 0px;
}

/* controls the no insurance mobile image */
#no-insurance-mobile-img {
	margin: 0px;
	padding: 0px 0px 0px 0px;
}

/* controls the no insurance section */
#no-insurance {
	padding: 100px 0px 100px 0px;
	background-image: url("../../img/membership-row-wright.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: solid 2px #cccccc;
}

/* controls the services section */
#services {
	background-image: url("../../img/bedge_grunge_light.jpg");
	background-repeat: repeat;
	padding: 50px 0px 50px 0px;
}

/* controls the forensic dentistry section */
#forensic-dentistry {
	margin: 0px;	
	padding: 60px 0px 70px 0px;
	background-color: #6F6D6A;
	color: #F9F7F4;
}

/* control the mobile desktop location styles */
#mobile-location {
	margin: 0px;
	padding: 0px 0px 0px 0px;
}

#mobile-location img {
	max-height: 80px;
	margin-top: 10px;
}

#mobile-map {
	margin: 0px;
	padding: 0px 0px 0px 0px;
}

/* controls the desktop location section styles */
#desktop-location {
	background-image: url("../../img/forest-hills-family-dentistry.png");
	background-position: center center;
	background-size: cover;
	width: auto;
	margin: 0px;
	padding: 60px 0px 50px 0px;
}

/* controls the association section */
#associations {
	margin: 0 auto;
	padding: 10px 0px 0px 0px;
}

#associations img {
	margin: 0px 0px 0px 0px;
	max-width: 200px;
}

/* controls the desktop footer section */
#mobile-footer {
	margin: 0 auto;
	padding: 10px 0px 0px 0px;
}

/* controls the desktop footer section */
#desktop-footer {
	margin: 0 auto;
	padding: 30px 0px 0px 0px;
	height: 100px;
}

.owl-controls.clickable {
	visibility: hidden;
}

/* controls spacing around buttons */
.call-to-action {
	margin: 20px 0px 20px 0px;
}

/* centers an image */
.img-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* overrides the default panel border */
.panel {
	border: solid 2px #fcfcfc;
	border-radius: 15px;
}


/* sets a solid right blue border */ 
.right-border {
	border-right: solid 2px #0D2D3F;
}

/* sets a solid right border */
.right-border-white {
	border-right: solid 2px #FCFCFC;
}

/* ==============
	Media Queries 
============== */

/* Large desktops and laptops */
@media (min-width: 1200px) {

	html {
		font-size: 16px;
	}
	
	/* overrides default body browser settings */
	body {
		font-size: 1rem;
	}
	
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	
	html {
		font-size: 16px;
	}
	
	/* overrides default body browser settings */
	body {
		font-size: 1rem;
	}
	
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	
	html {
		font-size: 14px;
	}
	
	/* overrides default body browser settings */
	body {
		font-size: 1rem;
	}

	.navbar-header {
		float: none;
	}
	.navbar-toggle {
			display: block;
	}
	.navbar-collapse {
			border-top: 1px solid transparent;
			box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-collapse.collapse {
			display: none!important;
	}
	.navbar-nav {
			float: none!important;
			margin: 7.5px -15px;
	}
	.navbar-nav>li {
			float: none;
	}
	.navbar-nav>li>a {
			padding-top: 10px;
			padding-bottom: 10px;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

		/* overrides default html settings */
	html {
		font-size: 14px;
	}
	
	/* overrides default body browser settings */
	body {
		font-size: 1rem;
	}
	
}

/* ==============================================
	Media queries for portrait phones and smaller
============================================== */
@media (max-width: 480px) {
	
	/* overrides the default html settings */
	html {
		font-size: 12px;
	}
	
	/* overrides default body browser settings */
	body {
		font-size: 1rem;
	}
	
	/* sets the 1st default theme button style */
	a.theme-btn-1 {
		padding: 5px 25px 5px 25px;	
		background-color: #e67c4c;
		border: solid 2px #fcfcfc;
		border-radius: 15px;
		color: #fcfcfc;
		text-transform: uppercase;
	}
	
		/* sets the 1st default theme button style */
	a.theme-btn-1:hover {
		padding: 5px 25px 5px 25px;	
		background-color: #e67c4c;
		border: solid 2px #fcfcfc;
		border-radius: 15px;
		color: #fcfcfc;
		text-transform: uppercase;
	}

}