/* ========================
	Swiper Carousel Feature
======================== */

/* =====================
	Mobile Static Banner 
===================== */

/* controls the mobile banner */
#mobile-banner {
	margin: 0px;
	padding: 0px;
	max-height: 586px;	
}

/* ========================
	Desktop Swiper Carousel
======================== */

/* controls the banner carousel section */
#banner-swiper-carousel  {
	margin: 0px;
	padding: 0px;
	height: auto;
}

/* controls the banner swiper container */
.banner-swiper-container {
	width: auto;
	height: 578px;
}

/* controls the swiper slide */
.swiper-slide {
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0) scale(1.0, 1.0);
}

/* controls the first slide in the banner-carousel */
#banner-swiper-slide-1 {
	background-image: url("../../img/wright-slide1.jpg");
	background-repeat: no-repeat;	
	background-position: top center;
	background-size: cover;
	margin: 0 auto;
	padding-top: 130px;
	height: 586px;
	min-height: 583px;	
	max-height: 586px;	
}

/* controls the second slide in the banner-carousel */
#banner-swiper-slide-2 {
	background-image: url("../../img/wright-slide2.jpg");
	background-repeat: no-repeat;	
	background-position: top center;
	background-size: cover;
	margin: 0 auto;
	padding-top: 75px;
	height: 586px;
	min-height: 583px;	
	max-height: 586px;	
}

/* controls the third slide in the banner-carousel */
#banner-swiper-slide-3 {
	background-image: url("../../img/wright-slide3.jpg");
	background-position: top center;	
	background-repeat: no-repeat;	
	background-size: cover;
	margin: 0 auto;
	width: 100%;
	padding-top: 180px;	
	height: 586px;
	min-height: 583px;	
	max-height: 586px;	
}

/* creates a swiper slide stars class */
.slide-stars .fa-gold {
	color: gold;
}

/* sets the default color style for the review stars */
.fa-gold {
	color: gold !important;
}

.fa-color-1 {
	color: #E57C4B;
}

.fa-color-2 {
	color: #5592b1;
}

/* sets the default color style for the customer review */
.customer-review {
	color: #cccccc;
}

.call-to-action {
	margin: 50px 0px 0px 0px;
}

/* sets the styles for the slide arrow */
.scroll-down {
	position: absolute;
	/* position: relative; */
 	z-index: 4;
	bottom: 60px;
	left: 50%;
	margin-top: 0px !important;
	margin-left: auto;
	margin-right: auto;	
	width: 40px;
	height: 40px;
	text-align: center;
}

/* creates a dark icon class for scroll down */
.dark-icon {
	color: #333333; 
}

/* controls the icon for the scroll down */
.icon-angle-down {
	font-size: 2rem;
}