nav {
	margin: 0px !important; 
	padding: 0px 0px 0px 0px !important;
}

.navbar.navbar-right {
	height: 100px;
}

button.navbar-toggle {
	background: none;
	border: none !important;
	height: 40px;
}

button.navbar-toggle:hover {
	background-color: #FCFCFC;
}

button.navbar-toggle:focus {
	background: none;
}	

a:hover {
	text-decoration: underline !important;
}

/* sets the 1st default link color */
a.link-color-1 {
	color: #C04355 !important;
}

a.link-color-1:hover {
	
}

/* sets the 2nd default link color */
a.link-color-2 {
	color: #36A9AE !important;
}

/* sets the 3rd default link color */
a.link-color-3 {
	color: #252A2E !important;
}

/* sets the 4th default link color */
a.link-color-4 {
	color: #797874 !important;
}

/* sets the 5th default link color */
a.link-color-5 {
	color: #fcfcfc;
}

.navbar .navbar-right {
	margin-top: 20px;
}

#mobile-navigation {
	height: 100px;
}

.navbar-default {
	background-color: #ffffff;
	border-bottom: solid 2px #cccccc;
	height: 100px;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
	.navbar-brand-centered {
		position: absolute;
		left: 0%;
		display: block;
		width: 160px;
		height: 100px;
		text-align: center;
		background-color: #FCFCFC:;
	}
	.navbar>.container .navbar-brand-centered, 
	.navbar>.container-fluid .navbar-brand-centered {
		position: absolute;
		left: 0%;
		margin-left: 0px;
		display: block;
		height: 100px;
		background-color: #FCFCFC;		
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 900px) and (max-width: 1199px) {
	.navbar-brand-centered {
		position: absolute;
		left: 0%;
		display: block;
		width: 160px;
		height: 100px;
		text-align: center;
		background-color: #FCFCFC;
	}
	.navbar>.container .navbar-brand-centered, 
	.navbar>.container-fluid .navbar-brand-centered {
		position: absolute;
		left: 0%;
		margin-left: 0px;
		display: block;
		height: 100px;
		background-color: #FCFCFC;		
	}
}

@media screen (min-width: 800px) and (max-width:900px){
	.navbar-brand-centered {
		position: absolute;
		left: 0%;
		display: block;
		width: 160px;
		height: 100px;
		text-align: center;
		background-color: #FCFCFC;
	}
	.navbar>.container .navbar-brand-centered, 
	.navbar>.container-fluid .navbar-brand-centered {
		position: absolute;
		left: 0%;
		margin-left: 0px;
		display: block;
		height: 100px;
	}
	.navbar-collapse {
		position: relative;
		top: 0px;
		margin-top: 40px;
		border-top: solid 2px #CCCCCC;
		background-color: #FCFCFC;
	}
}	

/* Landscape phones and portrait tablets */
@media (max-width: 799px) {
	.navbar-brand {
		position: absolute;
		top: 5%;
		left: 0%;
		margin-top: -10px;
		margin-left: -80px;
		display: block;
		height: 80px;
	}
}

/* Portrait phones and smaller */
@media (min-width: 481px) and (max-width: 798px) {
	.navbar-brand-centered {
		position: absolute;
		left: 50%;
		display: block;
		width: 160px;
		height: 100px;
		text-align: center;
		background-color: #FCFCFC;
	}
	.navbar>.container .navbar-brand-centered, 
	.navbar>.container-fluid .navbar-brand-centered {
		position: absolute;
		left: 50%;
		margin-left: -80px;
		display: block;
		height: 100px;
		background-color: #FCFCFC;		
	}
	.navbar-collapse {
		position: relative;
		top: 0px;
		margin-top: 40px;
		border-top: solid 2px #CCCCCC;
		background-color: #FCFCFC;
	}
	
}	