/* =================
	Navbar Component 
================= */

nav {
	margin: 0px !important; 
	padding: 10px 0px 20px 0px !important;
}

.navbar-default {
	background-color: #ffffff;
	border-bottom: solid 2px #cccccc;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand > img {
  height: 60px;
  padding: 0px;
  width: auto;
}

.navbar-default .navbar-toggle:hover  {
	background: none;
}

.navbar-default .navbar-toggle:active {
	background: none;
}	

button.navbar-toggle:focus {
	background: none;
}	

button.navbar-toggle:clicked {
	background-color: #ffffff !important;
}

div.navbar-header {
	padding: 0px 0px 0px 0px;
	border: 0px;
}

.navbar-default .navbar-collapse {
	border-top: none;
}


button.navbar-toggle {
	border: none;
}

a:hover {
	text-decoration: underline !important;
}

/* sets the primary theme link color */
a.link-color-1 {
	color: #ff6633 !important;
}

a.link-color-1:hover {
	color: #ff6633;
	text-decoration: underline;
}

/* sets the secondary theme link color */
a.link-color-2 {
	color: #669999 !important;
}

a.link-color-2:hover {
	color: #669999;
	text-decoration: underline;
}

/* sets the tertiary theme link color */
a.link-color-3 {
	color: #996633 !important;
}

/* sets the tertiary theme link color */
a.link-color-3:hover {
	color: #996633;
}

/* sets the tertiary theme link color */
a.link-color-4 {
	color: #666666 !important;
}

/* sets the tertiary theme link color */
a.link-color-4:hover {
	color: #666666;
	text-decoration: underline;	
}

/* sets the tertiary theme link color */
a.link-color-5 {
	color: #FCFCFC;
}

/* sets the tertiary theme link color */
a.link-color-5:hover {
	color: #FCFCFC;
	text-decoration: underline;	
}

/*!
 * Yamm!3 - Yet another megamenu for Bootstrap 3
 * http://geedmo.github.com/yamm3
 * 
 * @geedmo - Licensed under the MIT license
 */
.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
  position: static;
}
.yamm .container {
  position: relative;
}
.yamm .dropdown-menu {
  left: auto;
}
.yamm .yamm-content {
  padding: 20px 30px;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 0;
  right: 0;
}