/* ===============================
	New Patient Offers Component 
=============================== */

/* controls the new patient specials section */
#new-patient-offers {
	background-position: top center;
	background-size: cover;
	background-color: #797874;
	padding: 40px 0px 50px 0px;
}

/* controls the specials section-1 background color */
.specials-color-1 {
	background-color: #C95E2D;
	color: #C95E2D;
}

/* controls the specials section-2 background color*/
.specials-color-2 {
	background-color: #846A20;
	color: #846A20;
}

/* controls the specials section-3 background color */
.specials-color-3 {
	background-color: #0D2D3F;
	color: #0D2D3F;
}

/* controls the specials-card */
.specials-card {
  padding-bottom: 20px;	
  background-color: white;
  border-radius: 8px;
	border: solid 2px #fcfcfc;
  height: 480px;
}

.specials-row p {
	font-family: "Merriweather", "Georgia", "Times New Roman", serif;
  font-size:18px;
  color:#797F8C;
  margin-bottom:0px;
  line-height:25px !important;
  margin-top:20px;
}
.specials-label {
  font-size:14px;
  color:#797F8C;
}
.specials-save {
  font-size:18px;
  text-transform:uppercase;
  background:none;
}
#new-patient-offers .col-md-4 {
  border-radius:8px;
  padding:0;
  margin-left:20px;
  margin-right:20px;
  height:452px;
  background:#FFF;
  margin-bottom:50px;
}
#new-patient-offers .container {
  padding-left:0;
  padding-right:0;
}
.specials-row {
  display:flex;
  text-align:center;
	padding-top: 15px;
}
.specials-top {
  height:196px;
  padding-top:15px;
  border-radius:8px 8px 0px 0px;
}
.specials-circle {
  position:relative;
  border:7px solid #FFF;
  width:146px;
  height:146px;
  border-radius:50%;
  top:-73px;
  margin:0 auto;
  margin-bottom:-73px;
}
.specials-bottom {
  padding-top:10px;
  padding-left:12.5px;
  padding-right:12.5px;
	padding-bottom: 12.5px;
}
.specials-save {
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
  font-size:18px;
}
.price {
	font-family: "Lato", "Helvetica", "Arial", sans-serif;	
  font-size:80px;
  color:#FFF;
}
.dollar {
	font-family: "Lato", "Helvetica", "Arial", sans-serif;	
  font-size:36px;
  color:#FFF;
  top:-18px;
  position:relative;
}
.specials-row h5 {
  line-height: 1.2;
  padding-top: 8px;
  font-size:32px;
  color:#FFF;
}

@media (max-width:1199px) {
  .specials-row p {
    margin-top:10px;
  }
}
@media (max-width:991px) {
  .specials-row {
    display:inherit;
  }
  #new-patient-offers .col-md-4 {
    max-width:400px;
    margin:0 auto;
    margin-bottom:50px;
  }
}